body {
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  background-color: white; 
  color: $acadia;

  @media(min-width: 1920px) {
    font-size: 1.3em;
  }
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

p {
  text-indent: 2em;
  > img {
    margin-left: -2em;
  }
}

a {
  color: $viridian;
  text-decoration: none;

  &:hover {
    color: $clementine;
  }
}

ul {
  padding-inline-start: 20px;
  li {
    list-style-type: none;
  }
}
