@import 'layout';
@import 'colors';
@import 'content';

header {
  background-color: $white_lilac;
  box-shadow: 0 0 3px $acadia;
  display: flex;
  h1 {
    text-shadow: 1px 1px 2px $acadia;
  }

  .introduction{
    flex: 4;
  }
  .image {
    flex: 1;
    text-align: left;
    img {
      height: 100px;
    }
  }
}

article {
  img {
    width: 100%;
  }
  &.summary {
    margin-bottom: 50px;
  }
}
